@import "ext.scss";
.nav-group-buy{
  width:100%;
  height: 2.06rem;
  background-color: #F6F8FA;
  @include center-flex;
}
.group-buy-ul{
  align:top
}
.group-buy-item{
  display: inline-block;
}

.group-buy-current{
  &:before{
    content: "";
    float: left;
    display: block;
    width: 1.66rem;
    height: .04rem;
    margin-top: .22rem;
    background-color: #46C33B;
  }
  .group-buy-node{
    width: .48rem;
    float: left;
    &:before{
      content: "";
      display: block;
      width:.48rem;
      height: .48rem;
      background-size: .48rem .48rem;
      background-image: url("../img/order_icon_progressbar_sucesscircle_green@2x.png");

    }
    .group-buy-tips{
      display: flex;
      padding-top: 8px;
      font-size:14px;
      color: #222;
      word-break: keep-all;
      white-space: nowrap;
      justify-content: center;
    }
  }
}
.group-buy-item.group-buy-first{
  &:before{
    display: none;
  }
}
.group-buy-done{
  &:before{
    content: "";
    float: left;
    display: block;
    width: 1.76rem;
    height: .04rem;
    margin-top: .22rem;
    background-color: #46C33B;
  }
  .group-buy-node{
    width: .48rem;
    float: left;
    &:before{
      content: "";
      display: block;
      width:.48rem;
      height: .48rem;
      background-size: .48rem .48rem;
      background-image: url("../img/order_icon_progressbar_circle_green@2x.png");

    }
    .group-buy-tips{
      display: flex;
      padding-top: 8px;
      font-size:14px;
      color:#585c64;
      word-break: keep-all;
      white-space: nowrap;
      justify-content: center;
    }
  }
}

.group-buy-todo{
  &:before{
    content: "";
    float: left;
    display: block;
    width: 1.76rem;
    height: .04rem;
    margin-top: .22rem;
    background-color: #E8E8E8;
  }
  .group-buy-node{
    width: .24rem;
    float: left;
    &:before{
      content: "";
      display: block;
      width:.24rem;
      height: .24rem;
      margin: .12rem 0;
      background-size: .24rem .24rem;
      background-image: url("../img/order_icon_progressbar_circle_gray@2x.png");
    }
    .group-buy-tips{
      display: flex;
      padding-top: 8px;
      font-size:14px;
      color:#98989f;
      word-break: keep-all;
      white-space: nowrap;
      justify-content: center;
    }
  }
}

.group-buy-banner{
  .group-buy-msg{
    margin: .3rem;
    font-size: .24rem;
    color:#E47600;
    text-align: justify;
  }
  &:after{
    content:"";
    display: block;
    width: 100%;
    border-bottom:1px solid #D3D3D3 ;
    transform: scaleY(.5);
  }
}

.group-buy-fail{
  width:100%;
  height: 2.06rem;
  background-color: #F6F8FA;
  font-size: .4rem;
  color:#222;
  line-height: 2.06rem;
  text-align: center;
}
.traffic-light{
  .light{
    display: inline-block;
    background: url(//b.vimage1.com/2016/03/31/909/14594260404499.jpg) no-repeat 0 0;
    background-size: auto 100%;
    overflow: hidden;
    width:(140px / 2);
    height:(328px / 2);

    &.red{
      background-position: 0,0;
    }
    &.yellow{
      background-position: -78px , 0;
    }
    &.green{
      background-position: -156px , 0;
    }
  }
}

.u-slider-container{
  width: 100%;
  .slider-item-img{
    width: 100%;
  }
}